/* Font Face Declarations */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/PlusJakartaSans.woff2") format("woff2");
}
